{% extends 'base.html' %}

{% block 'title'%} Dashboard {% endblock %}

{% block 'page-content' %}
    {% include 'partials/_messages.html' %}
    <div class="center-block">
    <h1 class="mt-5 mb-3">
        Olá, {{ user.first_name }} {{ user.last_name }}
        {% if not user.first_name and not user.last_name %}
            {{user}}
        {% endif %}
    </h1>
    </div>

    <div class="container">
    <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'dashboard' %}"
    >
        <table class="table">
            {% csrf_token %}
            {{form}}

            <tr>
                <td>
                <button type="submit" class="btn btn-primary">Salvar novo contato</button>
                </td>
            </tr>
        </table>
    </form>
    </div>
{% endblock %}
